.gallery {
	padding: 120px 0;
	overflow: hidden;
}

.gallerySwiper {
	margin-top: 60px;
	overflow: visible;
	padding: 30px 0 70px;
}

.gallerySwiper .swiper-wrapper {
	align-items: center;
}

.gallerySwiper .swiper-slide {
	height: 600px;

	border-radius: 28px;
	overflow: hidden;

	transform: scale(0.82);

	opacity: 0.45;

	transition:
		transform 0.6s ease,
		opacity 0.6s ease,
		filter 0.6s ease,
		box-shadow 0.6s ease;

	filter: blur(1px);
}

.gallerySwiper .swiper-slide-active {
	transform: scale(1);

	opacity: 1;

	filter: blur(0);

	box-shadow: 0 25px 70px rgba(0, 0, 0, 0.18);
}

.gallerySwiper .swiper-slide-prev,
.gallerySwiper .swiper-slide-next {
	transform: scale(0.9);

	opacity: 0.8;

	filter: blur(0.5px);
}

.gallerySwiper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.gallery-prev,
.gallery-next {
	width: 60px;
	height: 60px;

	border-radius: 50%;

	background: #fff;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;

	top: 50%;

	transform: translateY(-50%);

	z-index: 20;

	cursor: pointer;

	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);

	transition: 0.25s;
}

.gallery-prev:hover,
.gallery-next:hover {
	transform: translateY(-50%) scale(1.08);
}

.gallery-prev {
	left: 15px;
}

.gallery-next {
	right: 15px;
}

.gallery-prev i,
.gallery-next i {
	color: var(--maroon);
	font-size: 18px;
}

.gallerySwiper .swiper-pagination {
	position: relative;

	margin-top: 35px;
}

.gallerySwiper .swiper-pagination-bullet {
	width: 10px;
	height: 10px;

	opacity: 0.3;

	background: var(--maroon);
}

.gallerySwiper .swiper-pagination-bullet-active {
	width: 28px;

	border-radius: 30px;

	opacity: 1;
}

/* ---------- адаптив ---------- */

@media (max-width: 991px) {
	.gallerySwiper .swiper-slide {
		height: 470px;
	}
}

@media (max-width: 768px) {
	.gallery {
		padding: 90px 0;
	}

	.gallerySwiper .swiper-slide {
		height: 340px;
	}

	.gallery-prev,
	.gallery-next {
		display: none;
	}
	.gallerySwiper {
		overflow: hidden;
	}
}
